html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#app > div > .editor,
#app > div > .inspector {
	position: fixed;
	top: 120px;
	bottom: 0;
	overflow-y: scroll;
	margin: -1px;
	bottom: 1px solid #ccc;
}

#app > div > .editor {
	left: 0;
	right: 50%;
}

#app > div > .inspector {
	left: 50%;
	right: 0;
}

.editor > div, .CodeMirror {
	height: 100%;
}

.memory, .registers {
	font-family: monospace;
}

.byte, .register {
	clear: both;
}

.byte div, .register div {
	float: left;
	width: 50%;
}

.object-code-line {
	clear: both;
	font-family: monospace;
	font-size: 14px;
	white-space: nowrap;
	overflow-x: scroll;
}

.object-code-line div {
	float: left;
}

.object-code-line .line-no {
	width: 60px;
	min-width: 60px;
}

.object-code-line .binary {
	width: 120px;
	min-width: 120px;
}

.object-code-line.highlighted {
	background: #ffe;
}